@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.root,
#root,
#docs-root {
  --primary-color: #191E2A;
  --secondary-color: #222A38;
  --tertiary-color: #121622;
  --hover-color: #0A1222;
  --text-color: #9dc7e0;
}